.container-fluid {
    background-color:rgb(11,61,145);
    text-align: center;
}

.row {
    min-height: 100vh;
}

.col {
    background-color:white;
    
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(252,61,33);

    margin-top: 50px;
    margin-bottom: 50px;

    margin-left: 100px;
    margin-right: 100px;
}

#home a {
    font-size: 20px;
    
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#home div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    margin-bottom: 20px;
}

.form {
    margin-top: 50px;
}

.form input {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
} 

.form label {
    margin-top: 15px;
}

#login_btn, #signup_btn {
    margin-top: 10px;
}

.navbar a {
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: lightcoral;
    border-radius: 10px;

}

#apod h1 {
    margin-top: 20px;
}

#astronomy_pic {
    margin-top: 30px;
}

#apod p {
    margin-top: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#get_pic_btn {
    margin-top: 10px;
}

#card {
    margin: 5px;
    font-size: 15px;
    width: 300px;
    display: inline-block;
}

.card-text, .card-title {
    text-align: left;
}

.card-header {
    background-color: blue;
}